*{

}

h1, h2{
 text-align: center;   
}

.directSelction{
    font-size: 100px;
    background-color: blueviolet;
    width: 400px;
    
}
#directSelection{
    font-size: x-large;
    background-color: black;
    color: wheat;
}